<stats-card></stats-card>

<!--Grid row-->
<div class="row wow fadeIn">
  
  <div class="col-md-3 mb-3">

    <!--Card 1-->
    <div class="card">

      <!--Card content-->
      <div class="card-body">
        <h5 class="card-title card-styls">Most World Records</h5>
        <!-- Table  -->
        <table class="table table-sm table-hover">
          <!-- Table head -->
          <thead class="mdb-color darken-3">
            <tr class="text-white">
              <th>#</th>
              <th>Player</th>
              <th>WRs</th>
            </tr>
          </thead>
          <!-- Table head -->

          <!-- Table body -->
          <tbody>
            <tr *ngFor="let entry of most_word_records; index as i">
              <th>{{i+1}}</th>
              <td class="text-primary">{{entry.name}}</td>
              <td class="text-success">{{entry['COUNT(*)']}}</td>
            </tr>
          </tbody>
          <!-- Table body -->
        </table>
        <!-- Table  -->
      </div>

  </div>

  </div>

  <div class="col-md-3 mb-3">
      <!--Card 2-->
      <div class="card">

          <!--Card content-->
          <div class="card-body">
            <h5 class="card-title card-styls">Most Points</h5>
            <!-- Table  -->
            <table class="table table-sm table-hover">
              <!-- Table head -->
              <thead class="mdb-color darken-3">
                <tr class="text-white">
                  <th>#</th>
                  <th>Player</th>
                  <th>Points</th>
                </tr>
              </thead>
              <!-- Table head -->
    
              <!-- Table body -->
              <tbody>
                <tr *ngFor="let entry of most_points; index as i">
                  <th scope="row">{{i+1}}</th>
                  <td class="text-primary">{{entry.lastname}}</td>
                  <td class="text-success">{{entry.points}}</td>
                </tr>
              </tbody>
              <!-- Table body -->
            </table>
            <!-- Table  -->
          </div>
    
      </div>
</div>

<div class="col-md-3 mb-3">
      <!--Card 3-->
      <div class="card">

          <!--Card content-->
          <div class="card-body">
            <h5 class="card-title card-styls">Top Maps</h5>
            <!-- Table  -->
            <table class="table table-sm table-hover">
              <!-- Table head -->
              <thead class="mdb-color darken-3">
                <tr class="text-white">
                  <th>#</th>
                  <th>Map</th>
                  <th>Records</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let entry of top_maps; index as i">
                  <th scope="row">{{i+1}}</th>
                  <td class="text-primary">{{(entry.map .length>16)? (entry.map | slice:0:15)+'..':(entry.map)}}</td>
                  <td class="text-success">{{entry['COUNT(*)']}}</td>
                </tr>
              </tbody>

            </table>
            <!-- Table  -->
          </div>
    
      </div>
</div>

<div class="col-md-3 mb-3">
  <!--Card 4-->
  <div class="card">

      <!--Card content-->
      <div class="card-body">
        <h5 class="card-title card-styls">New Maps</h5>
        <!-- Table  -->
        <table class="table table-sm table-hover">
          <!-- Table head -->
          <thead class="mdb-color darken-3">
            <tr class="text-white">
              <th>#</th>
              <th>Map</th>
              <th>Records</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let entry of new_maps; index as i">
              <th scope="row">{{i+1}}</th>
              <td class="text-primary">{{(entry.map_name.length>16)? (entry.map_name | slice:0:15)+'..':(entry.map_name)}}</td>
              <td class="text-success">{{entry.map_record}}</td>
            </tr>
          </tbody>

        </table>
        <!-- Table  -->
      </div>

  </div>
</div>


</div>