<div class="row">
  <div class="col-md-12">

    <form>
      <div class="row">
        <div class="col-lg-6">
          <b>Map</b>
          <select class="form-control" #map>
            <option value="surf_1day" selected="selected">surf_1day</option>
            <option value="surf_2pacisalive">surf_2pacisalive</option>
            <option value="surf_3">surf_3</option>
            <option value="surf_4dimensional">surf_4dimensional</option>
            <option value="surf_4head_csgo">surf_4head_csgo</option>
            <option value="surf_6">surf_6</option>
            <option value="surf_666">surf_666</option>
            <option value="surf_a">surf_a</option>
            <option value="surf_abstinens">surf_abstinens</option>
            <option value="surf_acedia">surf_acedia</option>
            <option value="surf_ace_fix">surf_ace_fix</option>
            <option value="surf_acp">surf_acp</option>
            <option value="surf_adventure_easy">surf_adventure_easy</option>
            <option value="surf_aeron">surf_aeron</option>
            <option value="surf_aether">surf_aether</option>
            <option value="surf_aircontrol_ksf">surf_aircontrol_ksf</option>
            <option value="surf_airflow">surf_airflow</option>
            <option value="surf_akai_final">surf_akai_final</option>
            <option value="surf_alend">surf_alend</option>
            <option value="surf_alpha">surf_alpha</option>
            <option value="surf_amantiss_csgo">surf_amantiss_csgo</option>
            <option value="surf_amaro_fix">surf_amaro_fix</option>
            <option value="surf_amir">surf_amir</option>
            <option value="surf_amplitude_apex_njv">surf_amplitude_apex_njv</option>
            <option value="surf_amplitude_encore_nsf_v4">surf_amplitude_encore_nsf_v4</option>
            <option value="surf_amplitude_light">surf_amplitude_light</option>
            <option value="surf_android">surf_android</option>
            <option value="surf_and_destroy_fix">surf_and_destroy_fix</option>
            <option value="surf_animals_ksf">surf_animals_ksf</option>
            <option value="surf_annoyance_njv">surf_annoyance_njv</option>
            <option value="surf_antimatter">surf_antimatter</option>
            <option value="surf_aqua">surf_aqua</option>
            <option value="surf_artifex">surf_artifex</option>
            <option value="surf_asrown-">surf_asrown-</option>
            <option value="surf_atlantis">surf_atlantis</option>
            <option value="surf_atlas_1">surf_atlas_1</option>
            <option value="surf_atrium">surf_atrium</option>
            <option value="surf_aweles">surf_aweles</option>
            <option value="surf_aweles_inferno_fix">surf_aweles_inferno_fix</option>
            <option value="surf_axiom_fix">surf_axiom_fix</option>
            <option value="surf_a_tier_one_map">surf_a_tier_one_map</option>
            <option value="surf_bbb">surf_bbb</option>
            <option value="surf_beginner">surf_beginner</option>
            <option value="surf_beginner_h">surf_beginner_h</option>
            <option value="surf_beginner_hell">surf_beginner_hell</option>
            <option value="surf_believe">surf_believe</option>
            <option value="surf_benevolent">surf_benevolent</option>
            <option value="surf_bewatermyfriend">surf_bewatermyfriend</option>
            <option value="surf_beyer">surf_beyer</option>
            <option value="surf_beyer2">surf_beyer2</option>
            <option value="surf_be_gentle">surf_be_gentle</option>
            <option value="surf_blackout_v1">surf_blackout_v1</option>
            <option value="surf_blackside">surf_blackside</option>
            <option value="surf_bluewall">surf_bluewall</option>
            <option value="surf_bob">surf_bob</option>
            <option value="surf_bonus">surf_bonus</option>
            <option value="surf_borderlands">surf_borderlands</option>
            <option value="surf_boring_new">surf_boring_new</option>
            <option value="surf_bork_nbv">surf_bork_nbv</option>
            <option value="surf_brutalist">surf_brutalist</option>
            <option value="surf_brutalist_ez">surf_brutalist_ez</option>
            <option value="surf_bumpybusride">surf_bumpybusride</option>
            <option value="surf_caca">surf_caca</option>
            <option value="surf_calamity2">surf_calamity2</option>
            <option value="surf_calamity_njv">surf_calamity_njv</option>
            <option value="surf_calibration">surf_calibration</option>
            <option value="surf_calycate2">surf_calycate2</option>
            <option value="surf_calycate_ksf">surf_calycate_ksf</option>
            <option value="surf_canisius2_fix">surf_canisius2_fix</option>
            <option value="surf_canisius_fix">surf_canisius_fix</option>
            <option value="surf_cartoon">surf_cartoon</option>
            <option value="surf_catalyst">surf_catalyst</option>
            <option value="surf_catalyst2">surf_catalyst2</option>
            <option value="surf_chaos_refix">surf_chaos_refix</option>
            <option value="surf_christmas2_fix">surf_christmas2_fix</option>
            <option value="surf_christmas_fix">surf_christmas_fix</option>
            <option value="surf_cinnamon">surf_cinnamon</option>
            <option value="surf_classics2">surf_classics2</option>
            <option value="surf_clavius">surf_clavius</option>
            <option value="surf_colors_beta1">surf_colors_beta1</option>
            <option value="surf_colors_final">surf_colors_final</option>
            <option value="surf_colours">surf_colours</option>
            <option value="surf_colum_2">surf_colum_2</option>
            <option value="surf_commune_too_beta5">surf_commune_too_beta5</option>
            <option value="surf_compulsive_njv">surf_compulsive_njv</option>
            <option value="surf_concreteideas">surf_concreteideas</option>
            <option value="surf_construction__">surf_construction__</option>
            <option value="surf_cookiejar">surf_cookiejar</option>
            <option value="surf_coralis_ksf">surf_coralis_ksf</option>
            <option value="surf_cordelia">surf_cordelia</option>
            <option value="surf_core_refix">surf_core_refix</option>
            <option value="surf_crzyfrog_reloaded_fix">surf_crzyfrog_reloaded_fix</option>
            <option value="surf_cubic">surf_cubic</option>
            <option value="surf_curious">surf_curious</option>
            <option value="surf_cyanide_njv">surf_cyanide_njv</option>
            <option value="surf_cyka">surf_cyka</option>
            <option value="surf_damn">surf_damn</option>
            <option value="surf_dank">surf_dank</option>
            <option value="surf_deathstar">surf_deathstar</option>
            <option value="surf_death_of_a_martian">surf_death_of_a_martian</option>
            <option value="surf_deceptive_final">surf_deceptive_final</option>
            <option value="surf_delarium">surf_delarium</option>
            <option value="surf_delta">surf_delta</option>
            <option value="surf_delusional">surf_delusional</option>
            <option value="surf_deoa">surf_deoa</option>
            <option value="surf_deprecation">surf_deprecation</option>
            <option value="surf_depths">surf_depths</option>
            <option value="surf_derp">surf_derp</option>
            <option value="surf_derpis_ksf">surf_derpis_ksf</option>
            <option value="surf_despair_x14">surf_despair_x14</option>
            <option value="surf_disaster">surf_disaster</option>
            <option value="surf_discovery">surf_discovery</option>
            <option value="surf_diverge">surf_diverge</option>
            <option value="surf_doodles_njv">surf_doodles_njv</option>
            <option value="surf_dragon">surf_dragon</option>
            <option value="surf_drain">surf_drain</option>
            <option value="surf_driftless_go">surf_driftless_go</option>
            <option value="surf_duggywuggy">surf_duggywuggy</option>
            <option value="surf_dusk">surf_dusk</option>
            <option value="surf_dynasty">surf_dynasty</option>
            <option value="surf_eclipse">surf_eclipse</option>
            <option value="surf_ecosystem">surf_ecosystem</option>
            <option value="surf_edge">surf_edge</option>
            <option value="surf_efficacy">surf_efficacy</option>
            <option value="surf_elements_beta3_fix">surf_elements_beta3_fix</option>
            <option value="surf_elites_v2_fix">surf_elites_v2_fix</option>
            <option value="surf_elysium">surf_elysium</option>
            <option value="surf_elysium2">surf_elysium2</option>
            <option value="surf_elysium3">surf_elysium3</option>
            <option value="surf_ember_sns">surf_ember_sns</option>
            <option value="surf_eon">surf_eon</option>
            <option value="surf_epicube_ksf">surf_epicube_ksf</option>
            <option value="surf_eryr">surf_eryr</option>
            <option value="surf_ethereal">surf_ethereal</option>
            <option value="surf_eunoia">surf_eunoia</option>
            <option value="surf_exclave_fix">surf_exclave_fix</option>
            <option value="surf_execute">surf_execute</option>
            <option value="surf_exocube_fix">surf_exocube_fix</option>
            <option value="surf_exogenesis">surf_exogenesis</option>
            <option value="surf_extremex">surf_extremex</option>
            <option value="surf_exurbia2">surf_exurbia2</option>
            <option value="surf_exxak">surf_exxak</option>
            <option value="surf_ezclap">surf_ezclap</option>
            <option value="surf_facility">surf_facility</option>
            <option value="surf_faint_fix">surf_faint_fix</option>
            <option value="surf_fast_">surf_fast_</option>
            <option value="surf_fathom">surf_fathom</option>
            <option value="surf_flatliners">surf_flatliners</option>
            <option value="surf_flow">surf_flow</option>
            <option value="surf_forbidden_swag">surf_forbidden_swag</option>
            <option value="surf_forbidden_ways_ksf">surf_forbidden_ways_ksf</option>
            <option value="surf_for_all">surf_for_all</option>
            <option value="surf_frequency_njv">surf_frequency_njv</option>
            <option value="surf_friday">surf_friday</option>
            <option value="surf_frost">surf_frost</option>
            <option value="surf_fruits">surf_fruits</option>
            <option value="surf_furios-">surf_furios-</option>
            <option value="surf_gekar">surf_gekar</option>
            <option value="surf_germania">surf_germania</option>
            <option value="surf_glass5">surf_glass5</option>
            <option value="surf_glass7">surf_glass7</option>
            <option value="surf_glass9">surf_glass9</option>
            <option value="surf_gleam">surf_gleam</option>
            <option value="surf_globalchaos">surf_globalchaos</option>
            <option value="surf_goat_fix">surf_goat_fix</option>
            <option value="surf_gold1">surf_gold1</option>
            <option value="surf_goldarn">surf_goldarn</option>
            <option value="surf_golden_a">surf_golden_a</option>
            <option value="surf_goliath">surf_goliath</option>
            <option value="surf_goodbye">surf_goodbye</option>
            <option value="surf_graphia">surf_graphia</option>
            <option value="surf_grassland">surf_grassland</option>
            <option value="surf_greenday">surf_greenday</option>
            <option value="surf_grid">surf_grid</option>
            <option value="surf_guitar_hi">surf_guitar_hi</option>
            <option value="surf_gurus">surf_gurus</option>
            <option value="surf_gurus_csgo">surf_gurus_csgo</option>
            <option value="surf_hades">surf_hades</option>
            <option value="surf_halloween_tf">surf_halloween_tf</option>
            <option value="surf_happyhands2">surf_happyhands2</option>
            <option value="surf_happyhands4">surf_happyhands4</option>
            <option value="surf_hearth_fix">surf_hearth_fix</option>
            <option value="surf_heaven">surf_heaven</option>
            <option value="surf_hekkz">surf_hekkz</option>
            <option value="surf_highlands">surf_highlands</option>
            <option value="surf_hollow">surf_hollow</option>
            <option value="surf_hope">surf_hope</option>
            <option value="surf_how2surf">surf_how2surf</option>
            <option value="surf_hurrr">surf_hurrr</option>
            <option value="surf_iceworld">surf_iceworld</option>
            <option value="surf_illumination2">surf_illumination2</option>
            <option value="surf_imagine_fix">surf_imagine_fix</option>
            <option value="surf_imex">surf_imex</option>
            <option value="surf_impact_tnn">surf_impact_tnn</option>
            <option value="surf_industries">surf_industries</option>
            <option value="surf_ing_njv">surf_ing_njv</option>
            <option value="surf_injection_njv">surf_injection_njv</option>
            <option value="surf_insideout_final">surf_insideout_final</option>
            <option value="surf_inspire">surf_inspire</option>
            <option value="surf_island">surf_island</option>
            <option value="surf_ivory">surf_ivory</option>
            <option value="surf_izded">surf_izded</option>
            <option value="surf_jaqen">surf_jaqen</option>
            <option value="surf_jaqen2">surf_jaqen2</option>
            <option value="surf_junglespic_ksf">surf_junglespic_ksf</option>
            <option value="surf_juturna">surf_juturna</option>
            <option value="surf_kawaii">surf_kawaii</option>
            <option value="surf_kinetic">surf_kinetic</option>
            <option value="surf_kitsune">surf_kitsune</option>
            <option value="surf_kitsune2_go">surf_kitsune2_go</option>
            <option value="surf_kitsune_nb">surf_kitsune_nb</option>
            <option value="surf_koa">surf_koa</option>
            <option value="surf_krow10">surf_krow10</option>
            <option value="surf_lab">surf_lab</option>
            <option value="surf_lament_n2p">surf_lament_n2p</option>
            <option value="surf_lavaflow">surf_lavaflow</option>
            <option value="surf_leet_xl_beta7z_">surf_leet_xl_beta7z_</option>
            <option value="surf_legendary">surf_legendary</option>
            <option value="surf_legends_lite_2">surf_legends_lite_2</option>
            <option value="surf_lessons">surf_lessons</option>
            <option value="surf_liberation">surf_liberation</option>
            <option value="surf_liberation2_go">surf_liberation2_go</option>
            <option value="surf_life_of_cow">surf_life_of_cow</option>
            <option value="surf_life_of_duck">surf_life_of_duck</option>
            <option value="surf_lighthouse">surf_lighthouse</option>
            <option value="surf_lithium">surf_lithium</option>
            <option value="surf_loentra">surf_loentra</option>
            <option value="surf_lore_e">surf_lore_e</option>
            <option value="surf_lost">surf_lost</option>
            <option value="surf_low_production">surf_low_production</option>
            <option value="surf_lt_omnific_fix">surf_lt_omnific_fix</option>
            <option value="surf_lt_unicorn_official">surf_lt_unicorn_official</option>
            <option value="surf_lullaby_ksf">surf_lullaby_ksf</option>
            <option value="surf_lux">surf_lux</option>
            <option value="surf_marah">surf_marah</option>
            <option value="surf_marbleblast_e">surf_marbleblast_e</option>
            <option value="surf_mdrn">surf_mdrn</option>
            <option value="surf_me">surf_me</option>
            <option value="surf_mejai">surf_mejai</option>
            <option value="surf_mellow">surf_mellow</option>
            <option value="surf_meme">surf_meme</option>
            <option value="surf_mesa_">surf_mesa_</option>
            <option value="surf_mesa_aether_">surf_mesa_aether_</option>
            <option value="surf_mesa_mine">surf_mesa_mine</option>
            <option value="surf_mesa_revo_go">surf_mesa_revo_go</option>
            <option value="surf_metallic">surf_metallic</option>
            <option value="surf_metalwall">surf_metalwall</option>
            <option value="surf_methadone__">surf_methadone__</option>
            <option value="surf_minimumwage">surf_minimumwage</option>
            <option value="surf_minuet_v1p">surf_minuet_v1p</option>
            <option value="surf_miracle">surf_miracle</option>
            <option value="surf_misc">surf_misc</option>
            <option value="surf_mjk">surf_mjk</option>
            <option value="surf_mom">surf_mom</option>
            <option value="surf_mudkip">surf_mudkip</option>
            <option value="surf_nac">surf_nac</option>
            <option value="surf_nebula">surf_nebula</option>
            <option value="surf_nemesis">surf_nemesis</option>
            <option value="surf_neon_final">surf_neon_final</option>
            <option value="surf_neoteric">surf_neoteric</option>
            <option value="surf_neo_njv">surf_neo_njv</option>
            <option value="surf_network2008_final">surf_network2008_final</option>
            <option value="surf_newb_hazard_r1">surf_newb_hazard_r1</option>
            <option value="surf_nightmare">surf_nightmare</option>
            <option value="surf_nikolo">surf_nikolo</option>
            <option value="surf_nostromo_csgo">surf_nostromo_csgo</option>
            <option value="surf_not_so_beginner">surf_not_so_beginner</option>
            <option value="surf_not_so_disaster">surf_not_so_disaster</option>
            <option value="surf_not_so_sinister">surf_not_so_sinister</option>
            <option value="surf_not_so_zen_fix">surf_not_so_zen_fix</option>
            <option value="surf_numbers">surf_numbers</option>
            <option value="surf_nyze">surf_nyze</option>
            <option value="surf_ny_advance_nsf_v2">surf_ny_advance_nsf_v2</option>
            <option value="surf_ny_aerial">surf_ny_aerial</option>
            <option value="surf_ny_momentum2_ksf">surf_ny_momentum2_ksf</option>
            <option value="surf_occur">surf_occur</option>
            <option value="surf_olympics_fix">surf_olympics_fix</option>
            <option value="surf_oma__">surf_oma__</option>
            <option value="surf_omnibus_sns">surf_omnibus_sns</option>
            <option value="surf_orthodox_fix">surf_orthodox_fix</option>
            <option value="surf_our">surf_our</option>
            <option value="surf_overgrowth">surf_overgrowth</option>
            <option value="surf_overgrowth2">surf_overgrowth2</option>
            <option value="surf_paddy">surf_paddy</option>
            <option value="surf_pagoda">surf_pagoda</option>
            <option value="surf_pancake">surf_pancake</option>
            <option value="surf_paradise">surf_paradise</option>
            <option value="surf_pathfinder">surf_pathfinder</option>
            <option value="surf_petrus">surf_petrus</option>
            <option value="surf_petrus2">surf_petrus2</option>
            <option value="surf_physics">surf_physics</option>
            <option value="surf_pinkbash">surf_pinkbash</option>
            <option value="surf_placid">surf_placid</option>
            <option value="surf_plethora_fix">surf_plethora_fix</option>
            <option value="surf_polygon">surf_polygon</option>
            <option value="surf_porn_fix">surf_porn_fix</option>
            <option value="surf_pox">surf_pox</option>
            <option value="surf_pox_revamp">surf_pox_revamp</option>
            <option value="surf_prelude_ksf">surf_prelude_ksf</option>
            <option value="surf_primero">surf_primero</option>
            <option value="surf_proliferation">surf_proliferation</option>
            <option value="surf_psycho_njv">surf_psycho_njv</option>
            <option value="surf_purgatory_fix">surf_purgatory_fix</option>
            <option value="surf_quantum_njv">surf_quantum_njv</option>
            <option value="surf_quark_rc">surf_quark_rc</option>
            <option value="surf_quickie">surf_quickie</option>
            <option value="surf_quilavar">surf_quilavar</option>
            <option value="surf_radiation_hazard">surf_radiation_hazard</option>
            <option value="surf_rainbow">surf_rainbow</option>
            <option value="surf_rands">surf_rands</option>
            <option value="surf_rapid_fix">surf_rapid_fix</option>
            <option value="surf_reactor_go">surf_reactor_go</option>
            <option value="surf_rebel_resistance_njv">surf_rebel_resistance_njv</option>
            <option value="Surf_Rebel_scaz_njv">Surf_Rebel_scaz_njv</option>
            <option value="surf_reblis_final">surf_reblis_final</option>
            <option value="surf_reflex">surf_reflex</option>
            <option value="surf_refraxis__">surf_refraxis__</option>
            <option value="surf_reprise">surf_reprise</option>
            <option value="surf_resort">surf_resort</option>
            <option value="surf_resource">surf_resource</option>
            <option value="surf_reytx">surf_reytx</option>
            <option value="surf_rez">surf_rez</option>
            <option value="surf_rocco">surf_rocco</option>
            <option value="surf_roman">surf_roman</option>
            <option value="surf_rooftopsv2">surf_rooftopsv2</option>
            <option value="surf_rookie">surf_rookie</option>
            <option value="surf_royal">surf_royal</option>
            <option value="surf_royal_ez">surf_royal_ez</option>
            <option value="surf_runewords">surf_runewords</option>
            <option value="surf_runewords2">surf_runewords2</option>
            <option value="surf_rustic_v2">surf_rustic_v2</option>
            <option value="surf_salient">surf_salient</option>
            <option value="surf_salient2">surf_salient2</option>
            <option value="surf_sanding">surf_sanding</option>
            <option value="surf_sandstorm2">surf_sandstorm2</option>
            <option value="surf_sandtrap">surf_sandtrap</option>
            <option value="surf_saturday_fix">surf_saturday_fix</option>
            <option value="surf_sc_essence_v2_njv">surf_sc_essence_v2_njv</option>
            <option value="surf_seasons_fixed">surf_seasons_fixed</option>
            <option value="surf_second_ksf">surf_second_ksf</option>
            <option value="surf_semesterbreak">surf_semesterbreak</option>
            <option value="surf_sentient">surf_sentient</option>
            <option value="surf_serenity">surf_serenity</option>
            <option value="surf_sexyartz_njv">surf_sexyartz_njv</option>
            <option value="surf_shady">surf_shady</option>
            <option value="surf_shoria">surf_shoria</option>
            <option value="surf_simpsons_go_rc2">surf_simpsons_go_rc2</option>
            <option value="surf_singletons">surf_singletons</option>
            <option value="surf_sinister2">surf_sinister2</option>
            <option value="surf_sinister_evil">surf_sinister_evil</option>
            <option value="surf_sinsane_ez">surf_sinsane_ez</option>
            <option value="surf_sinsane_ksf">surf_sinsane_ksf</option>
            <option value="surf_sippysip">surf_sippysip</option>
            <option value="surf_skill8_e__">surf_skill8_e__</option>
            <option value="surf_skyborn">surf_skyborn</option>
            <option value="surf_sluice_final">surf_sluice_final</option>
            <option value="surf_smaragd">surf_smaragd</option>
            <option value="surf_smile_njv">surf_smile_njv</option>
            <option value="surf_something_serious">surf_something_serious</option>
            <option value="surf_southpark_refix">surf_southpark_refix</option>
            <option value="surf_spacejam">surf_spacejam</option>
            <option value="surf_spaceship_ksf">surf_spaceship_ksf</option>
            <option value="surf_stargaze_csgo">surf_stargaze_csgo</option>
            <option value="surf_static">surf_static</option>
            <option value="surf_stonework">surf_stonework</option>
            <option value="surf_stonework2">surf_stonework2</option>
            <option value="surf_stonework3">surf_stonework3</option>
            <option value="surf_stonework4">surf_stonework4</option>
            <option value="surf_subway">surf_subway</option>
            <option value="surf_summer">surf_summer</option>
            <option value="surf_summit">surf_summit</option>
            <option value="surf_sundown_njv">surf_sundown_njv</option>
            <option value="surf_sunnyhappylove">surf_sunnyhappylove</option>
            <option value="surf_superbia_new">surf_superbia_new</option>
            <option value="surf_sup_">surf_sup_</option>
            <option value="surf_surprise_fix">surf_surprise_fix</option>
            <option value="surf_swagtoast">surf_swagtoast</option>
            <option value="surf_symbiosis">surf_symbiosis</option>
            <option value="surf_synada">surf_synada</option>
            <option value="surf_syria_">surf_syria_</option>
            <option value="surf_syria_again_fix">surf_syria_again_fix</option>
            <option value="surf_take1">surf_take1</option>
            <option value="surf_technique">surf_technique</option>
            <option value="surf_tempest">surf_tempest</option>
            <option value="surf_tempest2">surf_tempest2</option>
            <option value="surf_tensile_njv">surf_tensile_njv</option>
            <option value="surf_test">surf_test</option>
            <option value="surf_thembrium_sns">surf_thembrium_sns</option>
            <option value="surf_the_distance">surf_the_distance</option>
            <option value="surf_the_gloaming_rat">surf_the_gloaming_rat</option>
            <option value="surf_the_lost_city">surf_the_lost_city</option>
            <option value="surf_this_njv">surf_this_njv</option>
            <option value="surf_togo">surf_togo</option>
            <option value="surf_tomb_redone">surf_tomb_redone</option>
            <option value="surf_torque2_njv">surf_torque2_njv</option>
            <option value="surf_torrent_njv">surf_torrent_njv</option>
            <option value="surf_trance_ksf">surf_trance_ksf</option>
            <option value="surf_transient">surf_transient</option>
            <option value="surf_trapped">surf_trapped</option>
            <option value="surf_trapped2">surf_trapped2</option>
            <option value="surf_trihard_go">surf_trihard_go</option>
            <option value="surf_tronia">surf_tronia</option>
            <option value="surf_tronic_njv">surf_tronic_njv</option>
            <option value="surf_tundra">surf_tundra</option>
            <option value="surf_twilight">surf_twilight</option>
            <option value="surf_underworld">surf_underworld</option>
            <option value="surf_unknown">surf_unknown</option>
            <option value="surf_unreal2">surf_unreal2</option>
            <option value="surf_urban">surf_urban</option>
            <option value="surf_utopia_night">surf_utopia_night</option>
            <option value="surf_utopia_v3">surf_utopia_v3</option>
            <option value="surf_vale">surf_vale</option>
            <option value="surf_vale2">surf_vale2</option>
            <option value="surf_vast">surf_vast</option>
            <option value="surf_vegetables_">surf_vegetables_</option>
            <option value="surf_velocity_nsf">surf_velocity_nsf</option>
            <option value="surf_volcanic">surf_volcanic</option>
            <option value="surf_volvic">surf_volvic</option>
            <option value="surf_voteforthisone">surf_voteforthisone</option>
            <option value="surf_waterworks">surf_waterworks</option>
            <option value="surf_wazor">surf_wazor</option>
            <option value="surf_whoknows">surf_whoknows</option>
            <option value="surf_whoknows2">surf_whoknows2</option>
            <option value="surf_wisdom">surf_wisdom</option>
            <option value="surf_wizard">surf_wizard</option>
            <option value="surf_wood_fix">surf_wood_fix</option>
            <option value="surf_xiv_blood">surf_xiv_blood</option>
            <option value="surf_zbig_rc2">surf_zbig_rc2</option>
            <option value="surf_zealand">surf_zealand</option>
            <option value="surf_zen">surf_zen</option>
            <option value="surf_zor">surf_zor</option>
          </select>
          <br>
        </div>
        <div class="col-lg-6">
          <b>Style</b>
          <select class="form-control" #style>
            <option value="-1" selected="selected">Any Style</option>
            <option value="0">Normal</option>
          </select>
          <br>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <b>Track</b>
          <select id="shit" class="form-control" #track>
            <option value="-1" selected="selected">Any Track</option>
            <option value="0">Normal</option>
            <option value="1">Bonus</option>
            <option value="2">Bonus 2</option>
            <option value="3">Bonus 3</option>
            <option value="4">Bonus 4</option>
            <option value="5">Bonus 5</option>
          </select>
          <br>
        </div>
        <div class="col-lg-6">
          <br>
          <button class="btn btn-primary" (click)="queryRecords(map.value, style.value, track.value)">View Records</button>
        </div>
      </div>
    </form>
  </div>
</div>



<div class="row">

  <div class="col-md-12">

    <section class="form-elegant scrollbar-light-blue">

      <table class="table table-sm table-hover">
        <thead class="mdb-color darken-3">
          <tr class="text-white">
            <th>Rank</th>
            <th>Name</th>
            <th>Time</th>
            <th>Style</th>
            <th>Track</th>
            <th>Date</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let entry of queryInfo">
            <td>{{entry?.rank}}</td>
            <td class="text-primary">{{entry?.name}}</td>
            <td>{{entry?.time}}</td>
            <td>{{entry?.style}}</td>
            <td>{{entry?.track}}</td>
            <td>{{entry?.date | date: 'dd-mm-20yy'}}</td>
          </tr>
        </tbody>
      </table>


    </section>
  </div>
</div>