<!--Main Navigation-->
<header>

    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
        <div class="container-fluid">

            <!-- Brand -->
            <a class="navbar-brand waves-effect" href="#" target="_blank">
                <strong class="blue-text">F.O.G Surf Stats</strong>
            </a>


            <!-- Collapse -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Links -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <!-- Left -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link waves-effect" href="#">Dashboard
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link waves-effect" href="http://forums.f-o-g.eu" target="_blank">
                            <strong class="blue-text">Forum</strong>
                        </a>
                    </li>

                </ul>

                <!-- Right -->
                <ul class="navbar-nav nav-flex-icons">
                    <li class="nav-item dropdown">

                        <!--Dropdown primary-->
                        <div class="dropdown">

                            <!--Trigger-->
                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">Dropdown primary</button>


                            <!--Menu-->
                            <div class="dropdown-menu dropdown-primary">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                        <!--/Dropdown primary-->



                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Navbar -->

    <!-- Sidebar -->
    <div class="sidebar-fixed position-fixed ">
        <div class="img-brand">
            <img src="../../../../assets/img/logo-fog.png" class="img-fluid" alt="Responsive image">

        </div>

        <div class="list-group list-group-flush">

            <a href="https://forums.f-o-g.eu" class="list-group-item list-group-item-action waves-effect">
                <i class="fa fa-pie-chart mr-3"></i>Forum
            </a>

            <a routerLink="dashboard" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
                <i class="fa fa-pie-chart mr-3"></i>Dashboard
            </a>
            <a routerLink="status" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
                <i class="fa fa-chart-bar mr-3"></i>Player/Server Status
            </a>

            <!-- dropdown options -->
            <button class="list-group-item list-group-item-action waves-effect" (click)="dropdownOptions()">
                <i class="fas fa-medal mr-3 dropdown-arrow"></i> Top Players</button>
            
            <div *ngIf="dropped" class="dropdown-sidenav">
                <a routerLink="topbypoints">
                    <p>&nbsp; &nbsp; &nbsp; By Points</p></a>

                <a routerLink="#" routerLinkActive="active" class="">
                    <p>&nbsp; &nbsp; &nbsp; By World Records</p></a>
            </div>


            <a routerLink="maptop" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-medal mr-3"></i> Map Top</a>

        </div>

    </div>
    <!-- Sidebar -->

</header>
<!--Main Navigation-->